<h2>Hero List <button (click)="addHero()">Add New Hero</button></h2>
<!--Add a new hero-->
<div *ngIf="addingHero">
  <app-hero-detail (close)="close($event)"></app-hero-detail>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
    <button class="delete-button" (click)="delete(hero, $event)">Delete</button>
  </li>
</ul>
<!--Add the mini-detail-->
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
